/*Heading style*/
.h1 {
  color: white;
  padding: 60px;
}
.header .text-center{
  padding-top: 60px;
}
.header .text-center strong{
  border: solid;
  border-color: white;
  border-width: 3px;
  padding: 10px;
  color:white;
  font-size:larger;
  background-color: rgba(0,0,0, .5);
}

.header {
  min-height: 360px;
  width:100%;
  background-image: url("pills.jpeg");
  background-size: cover;
  background-attachment: fixed;
}



/*Content*/
body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*About*/
.about-container {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "block block1 block2" 
    "block3 block4 block5";
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2fr 2fr;
}

@media screen and (max-width: 750px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "block block1"
    "block2 block3"
    "block4 block5";
    grid-auto-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .about-container {
    grid-template-columns: minmax(220px, 1fr);
    grid-template-areas:
    "block"
    "block1"
    "block2"
    "block3"
    "block4"
    "block5";
  }
}

@supports not (display: grid) {
  .about-container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 500px) {
  .blocks {
    flex: 1 1 100%;
  }
}

.block {
  text-align: center;
}

/* About the site*/
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

    
  }