{% include "header.html" %}


<!--header-->
	<!--header image-->
<div class="header">
  <h1 class="text-center"><strong>Drug Reminder Service</strong>
  </h1>
</div>
</div>


<!--Content-->
  
    <h2 class="text-center"> Details </h2>
    	<br>
      <center>
 <!--Autocomplete form for drugs-->
 <br> <br>
 
 <div class="container">
   <form action="/subscribe" method="post">
    <label for="drug-name">Drug type</label>
    <input id="max" type="text" name="drug-name" />
    <script type="text/javascript">
      var options = {
          data: drugs,
          list: {
                  maxNumberOfElements: 10,
                  match: {
                    enabled: true
                  }
                }
      };
      $("#max").easyAutocomplete(options);
    </script>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Last name..">

    <label for="phone">Contact Number</label>
    <input type="text" id="phone" name="phone" placeholder="Contact number...">

    <label for="dosage">Dosage</label>
    <input type="text" id="dosage" name="dosage" placeholder="Number of tablets taken at one time...">

    <label for="ration">Total number of tablets</label>
    <input type="text" id="tablets" name="tablets" placeholder="Number of tablets...">

    <label for="hour">Hours</label>
    <select id="hour" name="hour" placeholder="Every ... hours">
      {% for i in range(1, 25) %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>

    <br><br>
    <input type="submit" value="Submit">
  </form>
  </div>
   
                   
        </center>
          <br>
          <br>


  <!-- Lower Section -->
          <section class="container">
            <div class="inner">
              <!-- 2 Columns -->
                  <div class="col col2">
                    <h3 class="text-center"> About the site </h3> 
                   	<div class=container4>
                   	<p> The Drug Reminder Service (DRS) provides support to those who need to take medications by providing recurring reminders via text. Users are also able to manage the medication of family members, and will also have the option of setting refill reminders to restock their medication.
                   	</p>
                    <br>
                  </div>
                </div>
            </div>
          </section>

</body>
</html>
