{% include "header.html" %}


<!--header-->
	<!--header image-->
<div class="header" style="padding: 150px;">
  <h1 class="text-center"><strong>Drug Reminder Service</strong>
  </h1>
</div>
<br/>
<br/>

<!--Content-->
      <div class="container" style="background-color: #fcd89db0;">
            <div class="inner">
              <!-- 2 Columns -->
                  <div class="col col2">
                    <!-- <h3 class="text-center"> About the site </h3>  -->
                    <div class=container4 style="text-align:center;">
                    <h4> The Drug Reminder Service (DRS) provides support to those who need to take medications by providing recurring reminders via text. Users are also able to manage the medication of family members, and will also have the option of setting refill reminders to restock their medication.
                    </h4>
                    <br>
                  </div>
                </div>
            </div>
        </div>
<br/>
<div class="container" style="background-color: #fcd89db0;">
    <h2 class="text-center">Submit Treatment Information</h2>
      <center>
 <!--Autocomplete form for drugs-->
 <br>
  
   <form action="/subscribe" method="post">
    <label for="drug-name">Drug type</label>
    <input id="maxsize" type="text" name="drug-name" />
    <script type="text/javascript">
      var options = {
          data: drugs,
          list: {
                  maxNumberOfElements: 10,
                  match: {
                    enabled: true
                  }
                }
      };
      $("#maxsize").easyAutocomplete(options);
    </script>
    <label for="fname">First Name</label><br/>
    <input type="text" id="fname" name="firstname" placeholder="Name.."><br/>

    <label for="lname">Last Name</label><br/>
    <input type="text" id="lname" name="lastname" placeholder="Last name.."><br/>

    <label for="phone">Contact Number</label><br/>
    <input type="text" id="phone" name="phone" placeholder="Contact number..."><br/>

    <label for="dosage">Dosage</label><br/>
    <input type="text" id="dosage" name="dosage" placeholder="Number of tablets taken at one time..."><br/>

    <label for="ration">Total number of tablets</label><br/>
    <input type="text" id="tablets" name="tablets" placeholder="Number of tablets..."><br/>

    <label for="hour">Hours</label><br/>
    <select id="hour" name="hour" placeholder="Every ... hours">
      <option value="one">1</option>
      <option value="two">2</option>
      <option value="three">3</option>
      <option value="four">4</option>
      <option value="five">5</option>
      <option value="six">6</option>
      <option value="seven">7</option>
      <option value="eight">8</option>
      <option value="nine">9</option>
      <option value="ten">10</option>
      <option value="eleven">11</option>
      <option value="twelve">12</option>
      <option value="thirteen">13</option>
      <option value="fourteen">14</option>
      <option value="fifteen">15</option>
      <option value="sixteen">16</option>
      <option value="seventeen">17</option>
      <option value="eightteen">18</option>
      <option value="nineteen">19</option>
      <option value="twenty">20</option>
      <option value="twentyone">21</option>
      <option value="twentytwo">22</option>
      <option value="twentyone">23</option>
      <option value="twentytwo">24</option>
    </select>

    <br><br>
    <input type="submit" value="Submit" style="background-color: #1c5045;">
  </form>
  </div>
   
                   
        </center>
          <br>
          <br>


  <!-- Lower Section -->
          <section class="container" style="background-color: #fcd89db0; text-align:center;">
            <div class="inner">
              <!-- 2 Columns -->
                  <div class="col col2">
                    <h3 class="text-center">Disclamer</h3> 
                   	<div class=container4>
                   	<p> Please call 911 in case of any severe complications with your treatment or contact your physician, if you are experiencing any side effects.
                   	</p>
                    <br>
                  </div>
                </div>
            </div>
          </section>

</body>
</html>
