{% include "header.html" %}

<!--header-->
  <!--header image-->
<div class="header">
  <h1 class="text-center"><strong>Login page</strong>
  </h1>
</div>
</div>
    <div class="container" style="text-align:center;">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <div class="form-group" style="text-align:center;">
            <input class="btn btn-default" type="submit" value="Login">
        </div>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>